.footer {
    background: -webkit-gradient(linear, left top, left bottom, from(#0A2850), to(#071931));
    background: -o-linear-gradient(top, #0A2850 0%, #071931 100%);
    background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
    color: #ffffff;
}

.footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 60px 100px 108px 80px;
}

.footer__logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
    height: 21px;
    width: 116px;
}

.footer__social-heading {
    padding-bottom: 20px;
    margin: 0;
}

.footer__list {
    list-style: none;
    margin: 0;
    padding: 0px;
}

.footer__list-item {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}

.footer__list-item:first-of-type {
    padding-bottom: 16px;
}

.footer__social-icon {
    height: 16px;
    width: 16px;
}

.footer__social-link {
    padding-left: 10px;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition-duration: 0.7s;
         -o-transition-duration: 0.7s;
            transition-duration: 0.7s;
    position: relative;
}

.footer__social-link:hover {
    color: #C1C1C1;
}

.footer__copyright {
    padding: 0px 0px 60px 80px;
    margin: 0;
}