.form {
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__fieldset {
    border: 0;
    padding: 0;
}

.form__label {
    font-weight: 500;
}

.form__input {
    border-radius: 4px;
    height: 60px;
    max-width: 385px;
    width: 100%;
    margin: 8px 0px 32px;
    padding: auto;
}

.form__label::placeholder {
    font-size: 20px;
    line-height: 30px;
    color: #838383;
}

.form__button {
    border: 0;
    background-color: #2F80ED;
    color: #ffffff;
    border-radius: 4px;
    font-weight: 500;
    height: 60px;
    max-width: 385px;
    width: 100%;
    margin-top: 32px;
    transition: opacity 0.8s ease 0s;
}

.form__button:hover {
    opacity: 70%;
}

.form__checkbox {
    border-radius: 2px;
    margin-top: 32px;
    height: 20px;
    width: 20px;
    align-self: flex-start;
}

.form__label:last-of-type {
    align-self: flex-end;
}

.form__checkbox:checked {
    background: #2F80ED url(../images/check.svg) center;
}