.header {
    background: #FFF url(../images/background_header.svg)  no-repeat  center / cover;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.header__span-accent {
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #2F80ED;
}

.header__title {
    font-size: 60px;
    font-weight: 500;
    line-height: 72px;
    max-width: 729px;
    padding: 0px 0px 28px 80px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0;
}


.header__description {
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-size: 20px;
    line-height: 30px;
    padding: 0px 0px 0px 80px;
    margin: 0;
    max-width: 683px;
    position: relative;
    z-index: 2;
}

.header__image {
    width: 646px;
    height: 568px;
    position: absolute;
    z-index: 1;
    top: 124px;
    right: 5px;
}

.header__footer {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 80px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.header__paragraph {
    color: #6f6f6f;
    font-weight: 500;
    margin: 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
}