.menu {
    background: #0a2750 url(../images/background_menu.svg) no-repeat center / cover;
    color: #ffffff;
}

.menu__title {
    max-width: 780px;
    margin: 0 auto;
    padding: 100px 0px 24px 0px;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
}

.menu__subtitle {
    max-width: 780px;
    margin: 0 auto;
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.menu__cards {
    padding: 100px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px;
    row-gap: 100px;
}