.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

.nav__links {
    list-style: none;
    font-weight: 500;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 80px 0px 0px;
    margin: 0;
}

.nav__link {
    color: #000;
    text-decoration: none;
    -webkit-transition-duration: 0.7s;
         -o-transition-duration: 0.7s;
            transition-duration: 0.7s;
}

.nav__link:hover {
    color: #2F80ED;
}