@import url("normalize.css");

/* Noto Serif for use in correct block
* {
  font-family: 'Noto Serif', 'Times New Roman', serif;
}
*/

.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

